@include test-module("Base Parse [function]") {
	$base: ( cap-height: 3 ) !global;

	@include test("Simple text settings") {
		$expect: ("font-size": 3rem, "add-rows-to-line-height": 0);

		@include assert-equal(
			_base-parse(3rem),
			$expect,
			"A single unit number is returned as font-size"
		);
	}

	@include test("Text settings with extra row height") {
		$expect: ("font-size": 3rem, "add-rows-to-line-height": 2);

		@include assert-equal(
			_base-parse(3rem 2),
			$expect,
			"Font-size and add-rows columns are properly mapped"
		);
	}

	@include test("Unknown property error") {
		@include assert-equal(
			_base-parse(3 wtf),
			"ERROR [_base-parse] Unknown shorthand property: [string] `wtf`"
		);
	}

	@include test("Unknown number parsing error") {
		@include assert-equal(
			_base-parse(3 156),
			"ERROR [_base-map-add] Duplicate key: [string] `add-rows-to-line-height`"
		);

		@include assert-equal(
			_base-parse(3rem 4rem),
			"ERROR [_base-map-add] Duplicate key: [string] `font-size`"
		);
	}

	$base: () !global;
}

@include test-module("Base Normalize [function]") {
	@include test("All values") {
		$config: (
			"root-font-size": 1rem,
			"row-height": 3,
			"min-line-height": 7,
			"cap-height": 11
    );

		$expect: (
			"root-font-size": 1rem,
			"font-size": 1rem,
			"row-height": 3,
			"min-line-height": 7,
			"cap-height": 11
    );

		@include assert-equal(
			_base-normalize($config),
			$expect
		);
  }
}