//*  Base Debug Image
///  Generates a debug image
///
///  @group debug
///
///  @param  {Map} $config [$base] 	Config map to use
///  @return {Linear-gradient}      A linear-gradient that displays the grid
///  @example scss
///   body{
///     background-image: base-grid();
///   }
@function base-debug-image($config: $base) {
	$config: _base-compile((), $config);

	$root-font-size: 	map-get($config, "root-font-size");
	$row-height: 			map-get($config, "row-height");

	$calc-row-height: _base-math-row-height(1, $row-height, $root-font-size);

	@return repeating-linear-gradient(to bottom,
		transparent 0,
		transparent calc(#{$calc-row-height} - 1px),
		#0EF   		calc(#{$calc-row-height} - 1px),
		#0EF   		$calc-row-height
  );
}