/// Syntax Utilities for Extending Base

// Compile shorthand
@function _base-compile($short, $config) {
	// Get and normalize config
	$config: _base-settings($config);
	// $normal-config: _base-normalize($config);

	// Parse and normalize shorthand
	@if (type-of($short) != "map") and (length($short) > 0) {
		$short: _base-parse($short, $config);
	}

	$normal-short: _base-normalize($short);

	// Merge and return
	@return map-merge($config, $normal-short);
}